@import '../utils/variables.scss';
.customers{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
.customers__item{
flex-basis: calc((100% - (1 * 10px)) / 3);
gap: 10px;
}  
.customers__icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: $borderCustomers;
    border-radius: 4px;
    fill: $colorIcons;
    transition-property:border-color,fill;
transition: $transitionFunction;

&:hover{
    border-color: $secondaryColor;
    fill: $secondaryColor;   
}
&:focus{
    border-color: $secondaryColor;
    fill: $secondaryColor;
}}}