@import '../utils/variables.scss';


    @media (min-width: 320px) {
        .email-newsletter{
            display: block;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.03em;
            position: absolute;
            left: 0;
           width: 100%;
            height: 86px;
            margin-top: 20px;
            margin-bottom:20px ;
                
            }}
    @media (min-width:481px){
        .email-newsletter{
            width: 100%;
            position: relative;
            width: 450px;
            height: 86px;
        }}
    @media (min-width:769px){
        .email-newsletter{
            display: inline-flex;
            font-size: 16px;
            line-height: 20px;
            align-items: center;
            letter-spacing: 0.03em;
            position: absolute;
            left: 49%;
            width: 570px;
            height: 86px;
                
            }}
            .email-newsletter__icons{
                fill: $colorBtn;
                position: relative;
                transform: translate(50%, 20%);
            }
    .email-newsletter__input{
    min-width: 300px;
    border: $borderEmail;
    border-radius: 4px;
    background-color: $colorFooter;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    
    
    &:hover{
        border-color:$secondaryColor;
        color: $secondaryColor;
    }
    &:focus{
        border-color:$secondaryColor;
        color: $secondaryColor;
    }}
    .email-newsletter__btn{
        position:relative;
        width: 200px;
        height: 50px;
        left: 0px;
        top: 0%;
        margin-left: 10px;
    }
    