@import '../utils/variables.scss';
.footer-contact{
    font-size: 14px;
    line-height: 1.71;
    color: $colorBtn;
    list-style: none;
    text-decoration: none;
   margin: 0;
   margin-right: 70px;
   
}
.footer-contact__link{
text-decoration:none;
font-style: normal;
color: $colorBtn;
}