@import '../utils/variables.scss';
@media (min-width: 320px) {
    .list-lorem {
        display: block;
        margin: 0 auto;
    }}
@media (min-width:481px){
    .list-lorem{
display: flex;
flex-wrap: wrap;

    }}
@media (min-width:769px){
    .list-lorem{
display: flex;
flex-wrap: nowrap;
width: auto;
}}
@media (min-width: 320px) {
    .list-lorem__item {
        list-style: none; 
    }}
@media (min-width:481px){
    .list-lorem__item{
flex-basis: calc((100% - (1 * 30px)) / 2);
gap: 30px;

    }}
@media (min-width:769px){
    .list-lorem__item:not(:last-child){
        margin-right: 30px;

}}
@media (min-width:769px) and (max-width:1200px){
    .list-lorem__item{
max-width: 270px;
    }}
    @media (min-width: 320px) {
        .list-lorem__title {
            text-align: center;
        }}
        @media (min-width:481px){
            .list-lorem__title{
        text-align: left;
        }}
.list-lorem__title{
    font-weight: $fontThree;
    font-size: 14px;
    line-height: 1.14;
    padding-bottom: 10px;
   
}
.list-lorem__text{
font-size: 14px;
line-height: 1.71;
color: $colorAccent;

}
@media (min-width: 320px) {
    .list-lorem__icons {
        width: 100%;
        height: 120px;         
    }}
@media (min-width:481px){
    .list-lorem__icons{
        width: 100%;
    }}
@media (min-width:769px) and (max-width:1200px){
    .list-lorem__icons{
        max-width: 270px;
}}
.list-lorem__icons{
   
    border: $borderLorem;
    background-color: $backgroundColor;
    border-radius: 4px; 
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
