@import '../utils/variables.scss';

@media (min-width: 320px) {
.menu-modal {
position: fixed;
padding-left: 40px;
padding-top: 42px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
height: 100%;
width: 100%;
background-color: $colorBtn;
}}
.menu-modal .is-open {
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
.menu-modal__item{
list-style: none;
margin-bottom: 32px;
}       
.menu-modal__link{
font-weight: $fontTwo;
font-size: 40px;
line-height: calc(47/40);
letter-spacing: 0.02em;
color: $prymaryColor;
text-decoration: none;
margin-bottom: 40px;
cursor: pointer;
&:hover{
    color: $secondaryColor;
}
&:focus{
    color: $secondaryColor;
}
}
.menu-modal__contact{
list-style: none;
margin-top: 230px;
}   
.menu-modal__contact-item{
margin-bottom: 32px;
}
.menu-modal__contact-link{
text-decoration: none;
font-weight: $fontTwo;
font-size: 24px;
line-height:calc(28/24);
letter-spacing: 0.02em;
color: $colorAccent;
cursor: pointer;

&:hover{
    color: $secondaryColor;
}
&:focus{
    color: $secondaryColor;
}}
.menu-modal__media{
    list-style: none;
    display: flex;
    margin: 5px 5px;
    
}
.media__item{
    margin-right: 5px;
    padding-right: 5px;
border-right:$borderModal;
}
.media__link{
text-decoration: none;
font-weight: $fontTwo;
font-size: 18px;
line-height:calc(22/18);
letter-spacing: 0.02em;
color: $secondaryColor;

}
@media screen and (min-width: 481px)
{.menu-modal{
display: none;

}}
@media screen and (min-width: 769px)
{.menu-modal{
display: none;
}}