@import '../utils/variables.scss';

@media screen and (min-width: 320px)
 {.menu-toggle{
    background-color: $colorBtn;
    border: none;
    fill: $prymaryColor;
    position: absolute;
  right: 4px;
top: 26px;
&:hover{
  fill:$secondaryColor;
}
&:hover{
  fill:$secondaryColor;
}
 }}

@media screen and (min-width: 481px)
{.menu-toggle{
display: none;

}}
@media screen and (min-width: 769px)
{.menu-toggle{
display: none;
}}