@import '../utils/variables.scss';

@media screen and (min-width: 320px)
 {.menu-toggle{
    background-color: $colorBtn;
    border: none;
    fill: black;

 }}

@media screen and (min-width: 481px)
{.menu-toggle{
display: none;

}}
@media screen and (min-width: 769px)
{.menu-toggle{
display: none;
}}