@import '../utils/variables.scss';

    @media (min-width: 320px) {
        .menu-modal {
            position: absolute;
            padding-left: 40px;
            padding-top: 48px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 100%;
             width: 100%;
            background-color: $colorBtn;
            box-shadow: $boxShadowModal;
            transition: $transitionFunction;
            }}
            .menu-modal__item{
                list-style: none;
            }       
   .menu-modal__link{
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
color: #212121;
text-decoration: none;
margin-bottom: 32px;
}