@import '../utils/variables.scss';

    @media (min-width: 320px) {
        .menu-modal {
            position: absolute;
            padding: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
             width: 90%;
            background-color: $colorBtn;
            box-shadow: $boxShadowModal;
            transition: $transitionFunction;
            }}
   