@import '../utils/variables.scss';
.page-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid;
    border-block-width: 1px;
    border-color: $borderHeader;
    ;
    }
.page-header__menu{
font-size: 14px;
font-weight: $fontTwo;
line-height: 1.17;
cursor: pointer;
display: flex;
align-items: center;

} 