
.section{
    min-width: 320px;
    margin:0 auto;}
    
    @media screen and (min-width: 481px)
    {.section{
    width: 481px;
    margin:0 auto;
    }}
    @media screen and (min-width: 769px)
    {.section{
    width: 1200px;
    margin:0 auto;
    }
    }
.section{
    padding-top: 94px;
    padding-bottom: 94px;
   }
   .section__title{
    min-width: 320px;
    margin:0 auto;
    font-size: 28px;
    line-height: 1.17;
}
    
    @media screen and (min-width: 481px)
    {.section__title{
    width: 481px;
    margin:0 auto;   
    font-size: 28px;
    line-height: 1.17;
    }}
    @media screen and (min-width: 769px)
    {.section__title{
    width: 1200px;
    margin:0 auto;
    font-size: 36px;
    line-height: 1.17;
    }
    }
.section__title{
    font-weight: $fontThree;
    text-align: center;
    padding-bottom: 50px;
}
